####Crear Managed Table en el Schema Gold
* usar JOIN en las tablas "clientes" y "detalles" para obtener los "ingresos por clientes"

In [0]:
drop table if exists telco_dev.gold.ingresos_por_cliente;

CREATE TABLE IF NOT EXISTS telco_dev.gold.ingresos_por_cliente 
AS
  select C.nombre_completo, SUM(D.precio_mensual) as ingreso
  FROM telco_dev.silver.clientes C
  INNER JOIN telco_dev.silver.detalles D
  ON C.cliente_id = D.cliente_id
  WHERE D.estado = true
  GROUP BY C.nombre_completo
  ORDER BY ingreso DESC
  ;

In [0]:
select * from telco_dev.gold.ingresos_por_cliente;